In [4]:
y=2
y

2

In [5]:
y*3

6

### Magic Commands:
magic commands are a specialized set of
commands host by the IPython kernel and require the prefix % to specify the commands.<br>

 **%whos** To get the list of all variables in the notebook.

In [6]:
%whos

Variable   Type    Data/Info
----------------------------
y          int     2

In python assignment always happens from left to right.

In [7]:
1 = x

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3270958869.py, line 1)

You can overwrite variables or functions that have been stored in Python. For example,
the command help = 2 will store the value 2 in the variable with name help. After this
assignment help will behave like the value 2 instead of the function help. Therefore, you should
always be careful not to give your variables the same name as built-in functions or values.

**del** command to delete a variable.<br>
**%reset** An Ipython command to remove all the variables from the notebook.<br>
This command is not in python shell!<br>

## Data types:
- int, float, boolean are data types related to single value.
- strings, lists, tuples, sets, and dictionaries are data types related to multiple values.

### Strings
- string is a sequence data structure.
- **len** to get string length.
- indexing: index starts from 0.
- string slicing [start:end:step].If you ignore the step argument, the default will be set to 1.
- escape characters using "\\"
- string addition is string concatenation.
- **str** converts a the datatype to a string.
- **in** command to check if a string is present in another string
- string methods
    - **stringname.upper()** = *<u>method</u>* converts all the charaters to upper case characters.
    - **stringname.lower()** = *<u>method</u>* converts all the charaters to lower case characters.
    - **stringname.count('v')** = number of repitions of v.
    - **stringname.replace("string1","string2")** = replace string1 in stringname with string2.
    -

In [8]:
s = "S"
w = "Hello World!"
type(w)

str

In [9]:
type(s)

str

In [10]:
w[6]

'W'

In [11]:
w[-1]

'!'

In [12]:
w[6:7]

'W'

In [13]:
w[6:end]

NameError: name 'end' is not defined

In [14]:
w[6:]

'World!'

In [15]:
w[6:-1]

'World'

In [16]:
w[6::2]

'Wrd'

In [17]:
w[:6]

'Hello '

In [18]:
w[6:2]

''

In [19]:
w[::2]

'HloWrd'

In [20]:
x = "i don\'t know"
x

"i don't know"

In [21]:
y = x + w;
y

"i don't knowHello World!"

In [22]:
y + " why does every python book introduce strings?"

"i don't knowHello World! why does every python book introduce strings?"

In [23]:
z = 10;
z

10

In [24]:
str(z)

'10'

In [25]:
w.upper()

'HELLO WORLD!'

In [26]:
w.count('l')

3

In [27]:
w.replace("World","Bhoomi")

'Hello Bhoomi!'

**using %s and f-string**

In [28]:
name = "IISc"
country = "india"
print("%s is a very good college in %s" %(name,country))

IISc is a very good college in india

In [29]:
print("%s is a very good college", name)

%s is a very good college IISc

In [30]:
print(f"{name} is a good college in {country}")

IISc is a good college in india

In [31]:
print(f"{2*3}")

6

### List
- defined using []
- more versatile seuential data type than strings.
- A list can hold any type of data: numerical, or strings, or other types
- A list can also hold another list.
- list slicing
- list indexing
- **len** = function acting on a lsit to give its length
- concatenating lists
- **append** = <u>*method*</u> appends an item at the end of a list .in list. not present in strings.
- **insert** = <u>*method*</u>  Inserts at a particular index loction. in list. not in strings.
    - list_name.insert(index,element)
- **del** = <u>*function*</u> deletes an element from a particular index location. ( strings dont support item deletion)
- **remove** = <u>*method*</u> to remove a particular element in list.
- adding elements to a list starting with an empty list.
- **list** = <u>*function*</u> to convert any sequence items to a list.
- Checking if an element is **in** a list. See example.
- **count** = <u>*method*</u> counts the number of times a particular item is present in the list.worls with tuples, strings, lists.
- **sort** = <u>*method*</u> counts the number of times a particular item is present in the list.worls with tuples, strings, lists.
    - list_name.sort() = sorts in acending order.

In [32]:
list1 = [1,2,3, "apples", "Oranges"]
list1

[1, 2, 3, 'apples', 'Oranges']

In [33]:
list2 = ['a', 'b', 'c']
list3 = [list1, list2]
list3

[[1, 2, 3, 'apples', 'Oranges'], ['a', 'b', 'c']]

In [34]:
list1[-1]

'Oranges'

In [35]:
list2.append("!")
list2

['a', 'b', 'c', '!']

In [36]:
list2.remove("!")
list2

['a', 'b', 'c']

In [37]:
del list2[1]
list2

['a', 'c']

In [44]:
list2.insert(1, "b")
list2

['a', 'b', 'c']

In [45]:
u = list(w)
u

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [46]:
5 in list2

False

In [48]:
'a' in list2

True

In [63]:
u.count("l")

3

### Tuple
- defined using ().
- tuples are immutable
- usually list contai same data tyles, but tuples contain multiple data types.
- Tuples or lists can be accessed by unpacking.
- The opposite operation to unpacking is packing, as shown in the following example.We can see that we do not need the parentheses to define a tuple, but it is considered good practice to do so.
- **tuple** = <u>*function*</u> to convert any sequence items to a tuple.

In [64]:
tuple1 = (1,2,3)
tuple1

(1, 2, 3)

In [65]:
tuple1.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [66]:
tuple1[2]

3

In [67]:
tuple1[2] = 33

TypeError: 'tuple' object does not support item assignment

In [69]:
a, b, c = tuple1;
print(a,b,c)

1 2 3

In [70]:
d, e, f = list2
print(d,e,f)

a b c

In [72]:
tuple2 = 4,92,33
tuple2

(4, 92, 33)

In [73]:
tuple3 = tuple(w);
tuple3

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [74]:
tuple4 = tuple(list2)
tuple4

('a', 'b', 'c')

### Sets
- defined using{}
- **set** = <u>*function*</u> to convert any sequence items to a set.
- **union** = <u>*method*</u> set1.union(set2).
- **intersection** = <u>*method*</u> set1.intersection(set2).
- **issubset** = <u>*method*</u> set1.issubset(set2).
- **difference** = = <u>*method*</u> set1.difference(set2).
    - set1 - set2 also works
- mostly used for getting the non repeating elements in a tuple, list etc.

### Dictionaries
- the values are acessed by using keys rather than indices
- {Keys:values}
- **keys** = <u>*method*</u> dictionary_name.keys()
- **values** = <u>*method*</u> dictionary_name.values().
- **in** and **not in**

In [80]:
school_dict1={}
school_dict1["India"] = "IISc"
school_dict1["USA"] = "UW-M"
school_dict1

{'India': 'IISc', 'USA': 'UW-M'}

In [82]:
school_list = [("Viswa", "Andhra"), ("SVNIT", "Gujarat"), ("IISc","Karnataka")];
school_dict2 = dict(school_list);
school_dict2

{'Viswa': 'Andhra', 'SVNIT': 'Gujarat', 'IISc': 'Karnataka'}

In [87]:
school_dict2["Viswa"]

'Andhra'

In [90]:
"Viswa" in school_dict2

True

In [94]:
rogue1 = school_dict1.keys();
rogue1

dict_keys(['India', 'USA'])

In [96]:
type(rogue1)

dict_keys

In [98]:
rogue2 = school_dict2.values()
rogue2

dict_values(['Andhra', 'Gujarat', 'Karnataka'])

In [99]:
type(rogue2)

dict_values

### Numpy Arrays
- Reading an array,reading a matrix.
- **shape** = <u>*attribute*</u> returns a tuple.
- **size** = <u>*attribute*</u>
- **np.arange(lower limit, upperlimit, stepsize)**
- **np.linspace(lower limit, upperlimit, no.of elements)**
- **np.zeros((tuple input))**
- **np.ones((tuple input))**
- **np.empty((tuple input))**
- indexing in arrays
- scalar addition, division, multiplication, subtraction.
- **matrixname.T** = produces the transpose of a matrix

In [2]:
import numpy as np

In [5]:
array1 = np.array([1,4,3])
array1

array([1, 4, 3])

In [7]:
mat1 = np.array([[1,4,3],[9,2,7]])
mat1

array([[1, 4, 3],
       [9, 2, 7]])

In [9]:
mat1.shape

(2, 3)

In [10]:
mat1.size

6

In [12]:
a2 = np.arange(1,2000,1)
a2

array([   1,    2,    3, ..., 1997, 1998, 1999])

In [15]:
a3 = np.linspace(3,9,10)
a3

array([3.        , 3.66666667, 4.33333333, 5.        , 5.66666667,
       6.33333333, 7.        , 7.66666667, 8.33333333, 9.        ])

In [16]:
mat3 = np.zeros((3,5))
mat3

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [17]:
np.ones((3,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [18]:
np.empty(2)

array([2.05833592e-312, 2.33419537e-312])

In [19]:
a3 = np.arange(1,7,1)
a3

array([1, 2, 3, 4, 5, 6])

In [20]:
a3[3]=7
a3

array([1, 2, 3, 7, 5, 6])

In [22]:
a3[0:3]= 1;
a3

array([1, 1, 1, 7, 5, 6])

In [23]:
a3[1:4] = [9,8,7]
a3

array([1, 9, 8, 7, 5, 6])

In [24]:
mat4 = np.zeros((2,2))
mat4

array([[0., 0.],
       [0., 0.]])

In [26]:
mat4[(0,0)]=1
mat4[(0,1)] = 2
mat4[(1,0)] = 3
mat4[(1,1)] = 4
mat4

array([[1., 2.],
       [3., 4.]])

In [27]:
mat4+2

array([[3., 4.],
       [5., 6.]])

In [28]:
mat4 - 2

array([[-1.,  0.],
       [ 1.,  2.]])

In [29]:
mat4*2

array([[2., 4.],
       [6., 8.]])

In [30]:
mat4/2

array([[0.5, 1. ],
       [1.5, 2. ]])

In [31]:
mat4**2

array([[ 1.,  4.],
       [ 9., 16.]])

In [32]:
2*mat4

array([[2., 4.],
       [6., 8.]])